.array-container{
    position: absolute;
    left: 50px;
}

.array-bar {
    width: 2px;
    background-color: blue;
    display: inline-block;
    margin: 0 2px;
}

.container-tester {
    position: absolute;
    left: 250px;
}